
.logo{
	float: left;
	margin-top: 23px;
} 
#cp{
	padding: 8px;
	width: 225px;
	height: 200px;
}
ul li a{
	margin-top:10px;
	font-weight: bold;
}
.welcome{
	text-align: center;
}
.product{
	text-align: center;
}
.card:hover{
	background-color: #FFDAB9;
	border:2px solid grey;
	height: 400px;
}
#view{
	width: 370px;
	height: 300px;
	margin-right: 10px;
	border: 2px solid green;
	border-radius: 5px;
}

.sidebar ul li{
	height: 70px;
}
.contact{
			border: 1px solid #bdbdbd;
			width: 500px;
			margin: 20px auto;
			padding: 10px;

		}
.contact div{
			margin-top:20px; 
		}
.contact div label{
			display: block;
			margin-bottom: 5px; 
		}
.contact div input[type="text"],input[type="password"]{
			width: 95%;
			height: 22px;
		}
		.sidebar ul li{
	border-bottom: 1px solid #9e9e9e;
